<div class="container grid grid-cols-2">
  <form class="col-1">
    <header><img src="/assets/images/logo.png" alt="Logo" loading="lazy"></header>
    <h2>Connectew vous à votre compte</h2>
    <h3>Votre espace pro</h3>
    <p>
      <mat-label class="block">Numero de téléphone</mat-label>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>phone</mat-icon>
        <mat-error>Numero de téléphone invalide</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-label class="block">Mot de passe</mat-label>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>key</mat-icon>
        <mat-error>Moy de passe invalide</mat-error>
      </mat-form-field>
    </p>
    <div>
      <mat-checkbox>Rester connecté(e)</mat-checkbox>
      <span><a routerLink="./">Mot de passe oublié ?</a></span>
    </div>
    <p>Pas encore de compte ?</p>
    <p><button mat-raised-button>Je me connecte</button></p>
    <p><img src="/assets/images/OM.png" alt="OM" loading="lazy"></p>
  </form>
  <section class="col-2">
    
    <div class="grid grid-cols-5 grid-rows-5 border-4">
      <div class="col-span-4 row-span-2">
        <h1>BIENVENUE</h1>
        <p>Bienvenue sur votre espace pro Ménager Ponctuelle ! Gérez votre activité et trouvez de nouveaux clients en toute simplicité.</p>
        <p>Travaillez quand vous voulez et où vous voulez avec notre application d'aide à domicile.</p>
      </div>
      <div class="col-span-2 col-start-1 row-span-2 row-start-4">
        <img src="/assets/images/plumbing.png" alt="">
      </div>
      <div class="col-span-2 col-start-1 row-start-3 mr-4">
        <img src="/assets/icons/verification-badge.png" alt="">
      </div>
      <div class="col-span-2 col-start-3 row-span-2 row-start-3 mt-4 mb-3 ml-4">
        <img src="/assets/images/rectange-45.png" alt="">
      </div>
      <div class="col-span-2 col-start-3 row-start-5 ml-4">
        <div>
          <img src="/assets/icons/3K.png" alt="">
          <p>Utilisateurs</p>
        </div>
        <div>
          <img src="/assets/icons/security.png" alt="">
          <p>Sécurisé</p>
        </div>
        <div class="bg-green-dark">
          <img src="/assets/icons/time.png" alt="">
          <p>7j/7 | H24</p>
        </div>
      </div>
    </div>
  
  </section>
</div>