<div class="container flex flex-col h-full mx-auto">
  <main class="basis-11/12">
    <mat-stepper [linear]="true" class="h-full" #stepper>
      <mat-step>
        <form class="py-2 form1">
          <ng-template matStepLabel>Votre profil</ng-template>
          <p class="w-9/12 mx-auto my-4 mb-8 font-bold text-center text-green-dark">Donnez vos informations de façon précise et appliquez vous à répondre à chaque question pour augmenter vos chances d'être contacté.</p>
          <div class="flex flex-row flex-wrap justify-center w-9/12 gap-6 mx-auto">
            <mat-form-field appearance="outline">
              <mat-label class="border-none outline-none">Name</mat-label>
              <input matInput class="border-none outline-none" placeholder="Votre nom" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label class="border-none outline-none">Prénom</mat-label>
              <input matInput class="border-none outline-none" placeholder="Votre prénom" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label class="border-none outline-none">Téléphone</mat-label>
              <input matInput class="border-none outline-none" placeholder="Téléphone" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label class="border-none outline-none">Genre</mat-label>
              <input matInput class="border-none outline-none" placeholder="Genre" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label class="border-none outline-none">Votre ville</mat-label>
              <input matInput class="border-none outline-none" placeholder="Votre ville" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label class="border-none outline-none">Votre quartier</mat-label>
              <input matInput class="border-none outline-none" placeholder="Votre quartier" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label class="border-none outline-none">Domaine d'expertise ?</mat-label>
              <input matInput class="border-none outline-none" placeholder="Plombier" required>
            </mat-form-field>
            <div class="text-center mat-form-field">
              <p><mat-label class="border-none outline-none">Êtes-vous étudiant(e) ?</mat-label></p>
              <mat-radio-group aria-label="Select an option">
                <mat-radio-button class="mx-3" value="1">Option 1</mat-radio-button>
                <mat-radio-button class="mx-3" value="2">Option 2</mat-radio-button>
              </mat-radio-group>
            </div>
            <p class="text-left mat-form-field"><strong>2k</strong> par heure <mat-icon class="align-middle text-slate-custom" matTooltip="Lorem ipsum dolor sit amet">help</mat-icon></p>
            <p class="text-left mat-form-field"></p>
          </div>
        </form>
      </mat-step>
      
      <mat-step label="Vos horaires">
        <p class="w-9/12 mx-auto my-4 mb-10 font-bold text-center text-green-dark">Donnez vos informations de façon précise et appliquez vous à répondre à chaque question pour augmenter vos chances d'être contacté.</p>
        <div class="flex flex-row flex-wrap justify-center w-9/12 gap-6 mx-auto">
          <form class="flex flex-col gap-3">
            <div class="flex flex-row gap-6">
              <p class="flex-1">Combien d'heures de travail par semaine etes vous pret a dispenser  ?*</p>
              <mat-form-field appearance="outline" class="flex-1">
                <input matInput placeholder="1-10 heures" required>
              </mat-form-field>
            </div>
            <div>
              <p class="w-5/12 mb-3">Quels jours seriez-vous disponible pour travailler ?*</p>
              <mat-form-field appearance="outline" class="w-full">
                <mat-chip-grid #chipGrid aria-label="Enter worktime">
                  @for (workTime of workTimes(); track workTime) {
                    <mat-chip-row (removed)="remove(workTime)" [editable]="true">
                      {{ workTime }}
                      <button matChipRemove [attr.aria-label]="'remove ' + workTime">
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip-row>
                  }
                  <input
                    placeholder="Nouvelle horaire..."
                    [matChipInputFor]="chipGrid"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="true"
                    (matChipInputTokenEnd)="add($event)"
                  />
                </mat-chip-grid>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Mot de passe</mat-label>
                <input matInput placeholder="Votre mot de passe" required>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Confirmation mot de passe</mat-label>
                <input matInput placeholder="Confirmez votre mot de passe" required>
              </mat-form-field>
            </div>
            <div>
              <mat-checkbox class="relative right-2.5"><a routerLink="#" class="text-blue-custom">Accepter les termes et conditions</a></mat-checkbox>
            </div>
          </form>
        </div> 
      </mat-step>
      
      <mat-step class="h-full">
        <ng-template matStepLabel>Done</ng-template>
        <div class="w-8/12 h-full py-24 mx-auto">
          <div class="flex flex-row items-center gap-4 mb-8">
            <img src="/assets/icons/done.png" alt="">
            <div>
              <h2 class="mb-4 text-3xl font-bold">Bravo Inscription Reussie !</h2>
              <p class="text-lg font-semibold">Vous  disposer desormais de 7jours avant votre entretien <span class="text-green-dark">bonne chance</span></p>
            </div>
          </div>
          <p>Le Menager Ponctuel est une plateforme en ligne qui met en relation des personnes occupées ayant besoin d'aide avec des prestataires de services locaux fiables, appelés "Ménage". En tant que Ménage, vous pouvez gagner de l'argent en faisant ce que vous aimez, quand et où vous le souhaitez, tout en rendant service à votre localité.</p>
        </div>
      </mat-step>

    </mat-stepper>
  </main>
  
  <footer class="flex flex-row text-green-dark basis-1/12">
    <div class="w-11/12 h-10 bg-green-dark"></div>
    <p class="px-4 py-3 1/12"><button (click)="stepper.next();">Suivant ></button></p>
  </footer>
</div>

